name: Test
on:
  push:
    branches:
      - main
  pull_request:
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install capnp
        run: |
          curl -O https://capnproto.org/capnproto-c++-1.1.0.tar.gz
          tar zxf capnproto-c++-1.1.0.tar.gz
          cd capnproto-c++-1.1.0
          ./configure
          make -j6 check
          sudo make install
      - name: Set up MLIR
        uses: munich-quantum-software/setup-mlir@97da765dfa9dc8e055611ca934fe51bcade8140c # v1.1.0
        with:
          llvm-version: 21.1.8
      - name: Configure
        run: cmake -S . -B build
      - name: Build
        run: cmake --build build
      - name: Test
        run: ./build/unittests/jeff-test
